.idea
.DS_Store
*.sw*
code/backend/target
code/backend/.bsp
code/backend/project/project
code/backend/project/target
code/frontend/node_modules/
code/frontend/serve_content/prod
code/frontend/package-lock.json
code/temp
backend/target
backend/.bsp
backend/project/project
backend/project/target
frontend/node_modules/
frontend/serve_content/prod
frontend/package-lock.json
frontend/notes.md
temp
